.header {
  width: 100%;
  max-width: 1920px;
  height: 86px;
  padding: 0 103px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: $color-default-white;
  font-stretch: condensed;

  @include vp-1365 {
    padding: 0 45px;
    height: 84px;
    font-size: 24px;
  }

  @include vp-767 {
    padding: 0 15px;
    height: 54px;
    font-size: 22px;
  }
}
